<header>
  <nav class="navbar  navbar-light bg-light p-4 navbar-expand-lg d-flex ">

    <div class="navbar-brand">
    <h1>imagem</h1>
    <h3>momentos</h3>
    </div>
    <button class="navbar-toggler collapsed" type="button"   data-bs-toggle="collapse" data-bs-target="#nav"><span class="navbar-toggler-icon">

    </span></button>
    <ul id="nav" class="navbar-nav navbar-collapse justify-content-end me-5">
        <li class="nav-item"><a routerLink="/"  routerLinkActive="active-teste" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Moments</a></li>
        <li class="nav-item"><a  routerLink="/compartilhar" routerLinkActive="active-teste"  class="nav-link ">Compartilhar</a></li>
        <li class="nav-item"><a  routerLink="/sobre" routerLinkActive="active-teste"  class="nav-link">Sobre</a></li>
    </ul>
    </nav>
</header>

