.navbar {
  border-bottom: 2px solid black;
}
#teste {
  transition: height 0s ease-in-out;
}

.nav-item {
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.active-teste {
  color: rgb(149, 197, 58);
}
