<header>
  <nav class="navbar navbar-expand navbar-light bg-light p-4 d-flex justify-content-between">
    <div class="navbar-brand d-flex justify-content-center align-content-center">
    <h1>imagem</h1>
    <h3>momentos</h3>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/tes"  routerLinkActive="active-teste" class="nav-link">Moments</a></li>
        <li class="nav-item"><a  routerLink="/" routerLinkActive="active-teste"  class="nav-link ">Compartilhar</a></li>
        <li class="nav-item"><a  routerLink="/tes" routerLinkActive="active-teste"  class="nav-link">Sobre</a></li>
    </ul>
    </nav>
</header>

