.container-moments {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
}

.card-moment {
  width: calc(100% / 3);
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .card-moment {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .card-moment {
    width: 100%;
  }
}
.container-search {
  display: flex;
  height: 4vh;
  width: 20%;

  position: relative;
}
.input-moments::placeholder {
  text-align: center;
}
.input-moments {
  text-align: center;
  padding: 0px 5px 0px 30px;
}
.input-moments {
  width: 100%;
}

.container-search i {
  position: absolute;
  padding: 0.3em;
  height: 100%;

  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 1420px) {
  .container-search {
    width: 50%;
  }
}
@media screen and (max-width: 620px) {
  .container-search {
    width: 90%;
  }
}
