/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
header {
  width: 100vw;
}
body {
  width: 100vw;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 150px);
}
