.container-compartilhar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-submit {
  margin-top: 3em;
  width: 40%;
  height: 6vh;
}
.destaque {
  color: rgb(149, 197, 58);
}
