<section class="container-compartilhar m-5 ">
  <div class="ola">
    <h1 class="text-main mt-5">Compartilhe o seu <span class="destaque">momento</span>!</h1>
    <form class="form mt-5"  [formGroup]="formGroup" #forDir="ngForm">
      <div class="container-form d-flex flex-column">
        <div class="form-group  ">
          <label class="form-label">Titulo:</label>
          <input class="form-control" formControlName="titulo" placeholder="meu melhor momento">
        </div>
        <p class="error mt-2" *ngIf="titulo?.errors?.['required']">Deve existir um titulo</p>
        <div class="form-group mt-3">
          <label class="form-label">Descrição:</label>
          <input class="form-control" formControlName="descricao" placeholder="meu melhor momento">
        </div>
        <p class="error mt-2" *ngIf="descricao?.errors?.['required']">Deve existir um titulo</p>

        <h5 class="mt-3">Coloque uma foto que mais marcou: </h5>
        <input class="mt-3" formControlName="file" type="file"  >
        <p class="error mt-2" *ngIf="file?.errors?.['required']">Deve existir um titulo</p>

        <button type="submit" [disabled]="titulo?.errors?.['required'] || descricao?.errors?.['required'] || file?.errors?.['required']" class="button-submit">Compartilhar!</button>

      </div>

      </form>
  </div>

</section>
